@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/*======= Universal CSS Properties =======*/

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}


img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ======= Wraper ======== */

.portfolio-container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-row {
    display: flex;
    flex-wrap: wrap;
}

/* ========= Button ====== */

.btn {
    position: relative;
    padding: 0 10px;
    background-color: #d5d5d5;
    font-size: 1.1rem;
    border-radius: 5px;
    line-height: 40px;
    color: #000;
    cursor: pointer;
    border: 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    transition: .4s;
}

.btn:not(:last-child) {
    margin-right: 15px;
}

.btn:hover,
.btn.active {
    background-color: #4d63dd;
    color: #FFF;
}


/*---------------- Large devices (desktops, 992px and up)  -----------*/

@media (min-width: 768px) {}